/python-black/week01/weak01.zip
/python-black/week03/thumbnails/
/python-black/week03/processed_images/
/python-black/week03/photos_for_processing/
/python-black/week03/filtered_images/
/python-black/extern_case_01/data/
/stats-black/case02/histogram_combined_sampling.png
/stats-black/case02/histogram_random_sampling.png
/stats-black/case02/histogram_stratified_sampling.png
/stats-black/case01/bar_points_per_retail.png
/stats-black/case01/bar_regions_per_retail.png
/stats-black/case01/region_distribution_per_category.png
/stats-black/case01/region_distribution_pie_chart.png
/stats-black/case01/retailers_per_category.png
/stats-black/case01/retailers_per_cluster.png
/stats-black/case01/retailers_per_region_per_category.png
/stats-black/case01/scatter_russia_vs_regions.png
/stats-black/case01/segmented_barchart_regions_per_category.png
/stats-black/case01/segmented_barchart_regions_per_category_domain1.png
/stats-black/case01/segmented_barchart_regions_per_category_domain2.png
/stats-black/case01/segmented_barchart_regions_per_category_domain3.png
/stats-black/case01/sorted_bar_points_per_retail.png
